section.action
  .container.action__container
    .action__wrapper
      span.action__wrapper-subtitle Case studies
      h2.action__wrapper-title lonic in action.
      p.action__wrapper-text The app development industry is changing, which is why we make sure our clients are ready to change with it. A world-class app is the result of world-class products and services. See how Ionic has helped countless businesses, big and small, deliver award-winning, mission-critical apps.
      .action__wrapper-icons 
        img.action__wrapper-icon(src=require("images/action-1.svg"), alt="Icon")
        img.action__wrapper-icon(src=require("images/action-2.svg"), alt="Icon")
        img.action__wrapper-icon(src=require("images/action-3.svg"), alt="Icon")
        img.action__wrapper-icon(src=require("images/action-4.svg"), alt="Icon")
    .actiom__amtrak
      img.actiom__amtrak-img(src=require("images/amtrak.svg"), alt="Amtrak logo")
      p.actiom__amtrak-text Amtrak delivers a cutting-edge mobile experience to riders, while accelerating development timelines, reducing risk, and improving operational agility.
      button.actiom__amtrak-btn(type="button")  See all of our Case Studies