section.companies
  .container 
    .companies__wrapper 
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/hr-block.svg"), alt="Company 1")
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/burger-king.svg"), alt="Company 2")
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/usaa.svg"), alt="Company 3")
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/company-4.svg"), alt="Company 4")
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/home-depot.svg"), alt="Company 5")
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/company-5.svg"), alt="Company 6")
      a.companies__item(href="#") 
        img.companies__item-img(src=require("images/company-6.svg"), alt="Company 7")